
* {
    margin: 0;
    padding: 0;
}

.rwd-page-container {

}

.rwd-page-nav {
    width: 100%;
    height: 44px;
    background: #232f3e;
    font-size: 36px;
    color: #fff;
    text-align: center;
}

.rwd-page-content {

}

.rwd-page-footer {

}

.ablock {
	height: 80px;
	width: 100%;
	text-align: center;
	font-size: 28px;
	line-height: 80px;
}
.ablock a {
    color: #232f3e;
    text-decoration: none;
    font-weight: bold;
}
.ablock.selected {
	background: rgba(35,47,62,0.1);
}

.ablock.selected a {
    color: #a75f7d;
}
